{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block banner_title %}
    Snowtricks
    </br>
    La passion du snowboard
{% endblock %}

{% block content %}

    <h1>Bonjour !</h1>

    Ceci sera la page d'accueil du site.
{% endblock %}
